# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environments
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MLflow
mlruns/
models/
mlflow.db

# Docker
docker.gpg

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp
*.bak

# Logs
*.log
